/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/*
Colors used:
base primary color(black): #161515;
secondary color (blue): #0D08F3;
Tertiary color (light blue): #4BFDF2;
Text color (light pink): #FACBCD;
Text color (white): #F5F5F5;
*/
* {
  box-sizing: border-box;
}

body {
  background-color: #161515;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #FACBCD;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}



img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none;
  font-weight: 600;
}

a:visited {
  color: #ff7f50;
}

a:hover,
a:focus {
  color: #35796b;
  text-decoration: underline;
}

a:active {
  color: #1F6C74;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #FACBCD;
  color: #161515;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #1E1E1E;
  transition: 0.2s opacity;
}

.button.contact:hoover {
  background-color: transparent;
  color: #FACBCD;
  text-transform: uppercase;
  border: 2px solid #FACBCD;
}

.button.contact:hover {
  background-color: #FACBCD;
  color: #ffffff;
}
header {

  box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  background-color: #FACBCD;
  text-align: center;
  padding: 10px 0 24px;
  margin: 0;
}
/* text-align: center; removed to make sure logo shows up to the left */

 /* padding: auto; */

.position: fixed; {
 width: 100%;
}

/* Layout Styling */
.container {
 padding: 0 15px;

 /* left and right padding */
}

.center {
 text-align: center;
}

.left {
 text-align: left;
}

.row {
 margin: 25px 0;

 /* 25px top and bottom, 0 left and right */
}

#work .row {
  padding-bottom: 25px;
}

#story .row {
  padding-bottom: 25px;
}

#tools .row {
  padding-bottom: 25px;
}

#hero .row {
  padding-bottom: 25px;
}

#skills .row {
  padding-bottom: 25px;
}

#about .row {
  padding-bottom: 25px;
}

#skills-and-tools .row {
  padding-bottom: 25px;
}

#title .row {
  padding-bottom: 25px;
}

#hero h1 {
  text-align: center;
}

/* makes just the h1 in hero sections center */

/* alternatively, can create a rule set with a selector for center and add the center class to any HTML elements you want centered */
#hero {
  padding: 20px 0;

  /* add space to top and bottom of hero section to give its content some space */
  display: inline-block;
  width: 100%;

  /* recommended method that ensures margins of every element in hero will not affect elements outside of it - always add width of 100% */
  text-align: center;
}

.logo {
  max-width: 150px;
  max-height: 48px;
  width: auto;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* only selects unordered lists within the nav element to remove the bullets */
nav > ul > li > a {
  padding: 0 15px;

  /* left and right padding */
  text-transform: uppercase;
  font-weight: 600;
  color: #FEFCF8;

  /* font-family: 'Handlee', cursive; */

  /* choosing not to set a color here because I want nav links to inherit from a */
}

nav > ul > li > a:visited {
  color: #F5F5F5;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus {
  color: #cc6540;
  text-transform: underline;
  opacity: 0.8;
}

nav > ul > li > a:active {
  color: #ffffff;
}

/* delete this to remove blank space under the logo and menu */

/* nav {
  display: inline-block;
  width: 100%;
} */

main {
  padding-top: 56px;
}

#about {
  text-align: center;
}

#skills .row {
  text-align: center;
  border-bottom: unset;
  padding-bottom: 0;
}

#contact .row {
  border-bottom: unset;
}

#picrow .row {
  border-bottom: unset;
  padding-bottom: 0;
}

.col-33 {
  width: 33%;
  float: left;
}

#container .row {
  border-bottom: unset;
  padding-bottom: 0;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

#header h1 {
  margin: 0;
  padding: 0.67em 0;
}

#header {
  background-color: #FACBCD;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#tools > ul > li {
  list-style-type: none;
}

#tools ul {
  padding-left: 0;
}

div.content {
  padding: 50px;
}


ul.navigation {
  padding: 20px 20px;
  text-align: center;
  display: flex;
}

div.welcome {
  text-align: center;
}

div#skills.row {
  text-align: center;
}

div.user-personas img {
  width: 15px
  text-align: center;

}

div.user-personas {
  text-align: center;
  margin: 10px;
  text-align: center;

}

 div.user-flows {
  float: left;
  margin: 0 20px;
  padding: 0 15px;
  text-align: center;
}

div.user-flows img {
width: 500px;
text-align: center;
}

div#work div.work-section {
  background-color: rgb(66, 66, 66);
  height: 250px;
  margin: 30px;
  padding: 30px;
}

div#work div.work-section picture {
  float: left;
  margin: 0 20px;
}

div#work div.work-section img {
  width: 300px;
}
div#hero img {
  width: 200px
}

div#other div.work-section picture {
  width: 100;
  max-width: 100%;
  height: auto;
}

div#other div.work-section img {
  width: 100;
  max-width: 100%;
  height: auto;
}

div#.objective picture {
  float: right;
  margin: 0 20px;
  padding: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

div.objective img {
  width: 300px;
  float: right;
  padding: 20px;
}


 div.competitive-analysis  {
  text-align: center;
  margin: 0 20px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

div.competitive-analysis img {
  text-align: center;
  width: 1000px;
  padding: 20px;
}

div.interviews  {
 text-align: center;
 margin: 0 20px;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.interviews img {
 text-align: center;
 width: 1000px;
 padding: 20px;
}

div.site-map  {
 text-align: center;
 margin: 0 20px;
 padding-top: 100px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.site-map img {
 text-align: center;
 width: 800px;
 padding: 20px;
}

div.card-sorting  {
 text-align: center;
 margin: 0 20px;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.card-sorting img {
 text-align: center;
 width: 800px;
 padding: 20px;
}

div.wireframes  {
 text-align: center;
 margin: 0 20px;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.wireframes img {
 text-align: center;
 width: 800px;
 padding: 20px;
}

div.usability-testing  {
 text-align: center;
 margin: 0 20px;
 padding-top: 100px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.usability-testing img {
 text-align: center;
 width: 800px;
 padding: 20px;
}
div.feedback {
  text-align: center;
  margin: 0 20px;
  padding: 20px;
}

div.feedback img {
  text-align: center;
  width: 900px;
  padding: 20px;
}

div.style-guide  {
 text-align: center;
 margin: 0 20px;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.style-guide img {
 text-align: center;
 width: 900px;
 padding: 20px;
}

div.final-mockups  {
 text-align: center;
 margin: 0 20px;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.final-mockups img {
 text-align: center;
 width: 1000px;
 padding: 20px;
}

.navtoggle,
.navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  padding-right: 0;
}

/* this will override the previous code and show the complete menu */
.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

a.icon {
  padding: 0;
}

.logo,
#menuIcon {
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-xs-1 {
  float: left;
  width: 100%;
  max-width: 100%;
}

.fadeIn {
  opacity: 0;
}


selector {
  margin: 0 auto;
}

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: #F5F5F5
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}

}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px, 50px);}
}

.cloud-font {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px);}
  to { transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px o 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
  body {
    font-size: 16px; /* the font size for headers will update automatically bc of em values */
  }

  #hero span {
    display: block;
  }

  #story .row {
    border-bottom: unset;
    padding: 0;
  }

  .col-md-6 {
    width: 50%;
  }

  .logo {
    max-width: 250px;
    max-height: 64px;
    width: auto;
  }

  nav > ul > li {
    display: inline-block;
  }

  /* this makes the list items show up next to each other; we moved it here because we don't want small screens to have these show up side by side */
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    list-style-type: none;

    /* padding: 0; */
    margin: 1em 0;

    /* still want margins */
  }

  main {
    padding-top: 120px;
  }

  #story,
  p {
    margin-top: 0;
  }

  .container-pic {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  #profile-pic {
    max-width: 600px;
    height: auto;
  }

  #userstory {
    font-weight: 700;
    width: 400px;
    max-width: 100%;
    height: auto;
    margin: auto;
  }


.row::after {
  content: :"";
  display: table;
  clear: both;
}

@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  .col-lg-1 {
    width: 100%;
    float: left;
  }

  .col-lg-3 {
    width: 25%;
    float: left;
  }

  .col-lg-9 {
    width: 75%;
    float: left;
  }

  .col-lg-7 {
    width: 60%;
    float: left;
  }

  .col-lg-5 {
    width: 40%;
    float: left;
  }

  .col-lg-6 {
    width: 50%;
    float: left;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .container-pic {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }

  #contact .container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  }

  #story .row {
    border-bottom: unset;
    padding-bottom: 0;
  }

  #skills .row {
    border-bottom: unset;
    padding-bottom: 0;
  }

  #tools .row {
    border-bottom: unset;
    padding-bottom: 0;
  }

  body {
    font-size: 18px;
  }

  .row {
    margin-bottom: 0;
  }

  .logo {
    max-width: 250px;
    max-height: 64px;
    width: auto;
  }

  nav > ul > li {
    display: inline-block;
  }

  /* this makes the list items show up next to each other */
  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  nav > ul {
    list-style-type: none;

    /* padding: 0; */
    margin: 1em 0;
  }

  main {
    padding-top: 120px;
  }

  #story {
    margin: auto;
  }

  #picrow {
    display: flex;
    align-items: center;
  }

  #userstory {
    font-weight: 700;
    width: 600px;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

@media only screen and (min-width: 1440px) {
}
header {
  text-align: unset;
  padding: 20px 0 13px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.col-xl-3 {
  width: 25%;
  float: left;
}

.col-xl-9 {
  width: 75%;
  float: left;
}

.col-xl-7 {
  width: 60%;
  float: left;
}

.col-xl-5 {
  width: 40%;
  float: left;
}

.col-xl-6 {
  width: 50%;
  float: left;
}

.container {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.container-pic {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#contact .container {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#style .container,
#iterate .container,
#design .container {
  max-width: 1000px;
  margin: auto;
}

#story .row {
  border-bottom: unset;
  padding-bottom: 0;
}

#skills .row {
  border-bottom: unset;
  padding-bottom: 0;
}

#tools .row {
  border-bottom: unset;
  padding-bottom: 0;
}

body {
  font-size: 18px;
}

.row {
  margin-bottom: 0;
}

.logo {
  max-width: 250px;
  max-height: 64px;
  width: auto;
}

nav > ul > li {
  display: inline-block;
}

/* this makes the list items show up next to each other */
.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

nav > ul {
  list-style-type: none;

  /* padding: 0; */
  margin: 1em 0;
}

main {
  padding-top: 120px;
}

#userstory {
  font-weight: 700;
  width: 600px;
  max-width: 100%;
  height: auto;
  margin: auto;
}
}

[class*="col-"] {
float: left;
padding-left: 10px;
padding-right: 10px;
}
