/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

/*
Colors used:
base primary color(black): #161515;
secondary color (blue): #0D08F3;
Tertiary color (light blue): #4BFDF2;
Text color (light pink): #FACBCD;
Text color (white): #F5F5F5;
*/

body {
  background-color: #161515;
  font-family: 'Comfortaa', cursive;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  color: #FACBCD;
}

header {
  box-shadow: 2px 2px 1px rgba(50, 50, 50, 0.75);
  background-color: #FACBCD;
  text-align: center;
  padding: 10px 0;
  position: relative;
}

#header h1 {
  margin: 0;
  padding: 0.67em 0;
}

#header {
  background-color: #FACBCD;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

div.content {
  padding: 50px;
}

div nav>ul>li {
  display: inline-block;
  text-align: right;
}

nav>ul>li>a {
  list-style-type: none;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  display: inline-block;
  width: 100%
  font-size: 18px;
  text-align: right;

}

nav>ul>li> {
  list-style-type: none;
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  display: inline-block;
  width: 100
  font-size: 18px;
  text-align: right;
}

ul.navigation {
  padding: 20px 20px;
  text-align: center;
  display: flex;
}

div.welcome {
  text-align: center;
}


div.user-personas img {
  width: 15SSpx
  text-align: center;

}

div.user-personas {
  text-align: center;
  margin: 10px;
  text-align: center;

}

 div.user-flows {
  float: left;
  margin: 0 20px;
  padding: 0 15px;
  text-align: center;
}

div.user-flows img {
width: 500px;
text-align: center;
}

div#work div.work-section {
  background-color: rgb(66, 66, 66);
  height: 250px;
  margin: 30px;
  padding: 30px;
}

div#work div.work-section picture {
  float: left;
  margin: 0 20px;
}

div#work div.work-section img {
  width: 300px;
}
div#hero img {
  width: 200px
}

div#other div.work-section picture {
  width: 100;
  max-width: 100%;
  height: auto;
}

div#other div.work-section img {
  width: 100;
  max-width: 100%;
  height: auto;
}

div#.objective picture {
  float: right;
  margin: 0 20px;
  padding: 20px;
  padding-right: 50px;
  padding-left: 50px;
}

div.objective img {
  width: 300px;
  float: right;
  padding: 20px;
}


 div.competitive-analysis  {
  text-align: center;
  margin: 0 20px;
  padding-top: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

div.competitive-analysis img {
  text-align: center;
  width: 1000px;
  padding: 20px;
}

div.interviews  {
 text-align: center;
 margin: 0 20px;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.interviews img {
 text-align: center;
 width: 1000px;
 padding: 20px;
}

div.site-map  {
 text-align: center;
 margin: 0 20px;
 padding-top: 100px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.site-map img {
 text-align: center;
 width: 800px;
 padding: 20px;
}

div.card-sorting  {
 text-align: center;
 margin: 0 20px;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.card-sorting img {
 text-align: center;
 width: 800px;
 padding: 20px;
}

div.wireframes  {
 text-align: center;
 margin: 0 20px;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.wireframes img {
 text-align: center;
 width: 800px;
 padding: 20px;
}

div.usability-testing  {
 text-align: center;
 margin: 0 20px;
 padding-top: 100px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.usability-testing img {
 text-align: center;
 width: 800px;
 padding: 20px;
}
div.feedback {
  text-align: center;
  margin: 0 20px;
  padding: 20px;
}

div.feedback img {
  text-align: center;
  width: 900px;
  padding: 20px;
}

div.style-guide  {
 text-align: center;
 margin: 0 20px;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.style-guide img {
 text-align: center;
 width: 900px;
 padding: 20px;
}

div.final-mockups  {
 text-align: center;
 margin: 0 20px;
 padding-top: 20px;
 padding-left: 20px;
 padding-right: 20px;
 padding-bottom: 20px;
}

div.final-mockups img {
 text-align: center;
 width: 1000px;
 padding: 20px;
}
nav>ul>li>a:visited {
  color: #F5F5F5;
}

nav>ul>li>a:hover,
focus {
  color: #cc6540;
  text-decoration: underline;
}

nav>ul>li>a:active {
  color: #ffffff;
}

#hero h1 {
  text-align: center;
}
#hero span {
  display: block;
}



selector {
  margin: 0 auto;
}

h1,
h2,
h3,
h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

p {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 300;
  color: #F5F5F5
}

@keyframes color-change {
  from {fill: #edc655;}
  to {fill: #f76414;}

}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {transform: translate(0,50px);}
  to {transform: translate(200px, 50px);}
}

.cloud-font {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from { transform: translate(446px, 48px);}
  to { transform: translate(100px, 48px);}
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.logo {
  max-width: 250px;
  text-align: center;
}

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;

}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

a {
  color: #ff7f50;
  text-decoration: none;
}

a:visited {
  color: #ff7f50;
}

a:hover,
focus {
  color: #cc6540;
  text-decoration: underline;
}

a:active {
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #FACBCD;
  color: #161515;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #1E1E1E;
  transition: 0.2s opacity;
}
.button: hover {
  opacity: 0.8%;
}

.button.contact:hoover {
  background-color: transparent;
  color: #FACBCD;
  text-transform: uppercase;
  border: 2px solid #FACBCD;
}

.button.contact:hover {
  background-color: #FACBCD;
  color: #ffffff;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px o 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .col-md-6 {
  float: left;
      width: 50%;
      padding: right 10%
    }

[class*="col-"] {
  float: left;
}

.row::after {
  content: :"";
  display: table;
  clear: both;
}
.container {
  max-width: 122px;
  margin-left: auto;
  margin-right: auto;
}
}
@media only screen and (min-width: 1024px) {
}
@media only screen and (min-width: 1440px) {
}
